*{ margin: 0; padding: 0; box-sizing: border-box; text-decoration: none;}

html, body{
    margin: auto;
    padding: 0 ;
}
.max{
    padding: 0 10px;
    margin: auto;
}

.img-home{
    display: flex;
    text-align: right;
    height: 400px;
    width: 300px;
    margin: 25px;
    border-radius: 6px;
}

.navbar{
    background: crimson;
    position: fixed;
    width: 100%;
    padding: 15px 0;
}

.navbar .max{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

.navbar a{
  text-decoration: none;
}

.navbar a:hover{
    background-color:rgba(119, 119, 119, 0.5)
}

.main-nav{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.nav_item{
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
justify-content: space-evenly;
text-align: left;
}

.nav-link{
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.nav-link:hover{
    color: rgb(0, 0, 0);
}

/* Home Section*/
.home{
    display: flex;
    height: 100vh;
    color: white;
    min-height: 400px;
}

#welcome-section{
    display: flex;
    background: url("images\Banner top black 5.png") no-repeat center;
    background-color: rgb(36, 28, 25);
}
#h1{
    font-size: 75px;
    font-weight: 600px;
    margin: -3px;
    color: white;
    text-align: center;
}

.home .max{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

/* about section */

.about{
    font-family: 'Times New Roman', Times, serif;
    background: #111;
}

.about .title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 400px;
    width: 550px;
    border-radius: 6px;
    display: inline-block;
    margin: 25px 10px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right p{
    text-align: justify;
}


/* Footer*/
.f-logo{
    text-align: center;
    margin: 0;
    color: white;
    font-size: 3em;
    text-decoration: none;
}

.main-footer{
    background-color: crimson;
    padding: .20em 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.main-footer-container{
    display: flex;
    align-items: center;
}

.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}

.footer-nav{
    padding: 0 .5em;
}

.section-content{
    margin: 1em; /*top right bottom and left */
}

.section-header{
    font-size: 2em;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

.nav a{
    text-decoration: none;
}

.nav li{
    display: inline;
}

.my-work{
    text-align: center;
    background: rgb(36, 28, 25);
    color: white;
}

.projects-header{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 2em;
    background: rgb(36, 28, 25);
    font-size: 40px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.Lorem{
    font-family: 'Times New Roman', Times, serif;
    column-count: 3;
    column-gap: 40px;
}
.projects{
    display: grid;
    column-count: 3;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    background-color: rgb(36, 28, 25);
}

html{
    scroll-behavior: smooth;
}

/* Media Queries*/
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

.about .about-content .column{
    width: 50%;
}
